/* 年份标题 */
h1 {
    font-size: 24px;
    margin: 30px 0 15px 0;
    font-weight: normal;
}

/* 文章列表样式 */
.post-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.post-list li {
    margin-bottom: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: baseline;
}

.post-date {
    color: #666;
    font-size: 14px;
    margin-right: 10px;
    white-space: nowrap;
}

.post-list a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
}

.post-list a:hover {
    color: #434446;
    text-decoration: underline;
}

/* 响应式设计 */
@media (max-width: 768px) {
    h1 {
        font-size: 15px;
        margin: 5px 0 5px 0;
    }
}