/* 搜索页面样式 */
.search-input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid var(--primary-border-color);
    border-radius: var(--border-radius);
    margin-bottom: var(--spacing-medium);
    transition: primary-border-color 0.3s;
}

.search-input:focus {
    outline: none;
    border-color: var(--primary-color);
}

#search-results h2 {
    /* margin-bottom: var(--spacing-medium); */
    font-size: 18px;
}

.search-list {
    list-style: none;
    padding: 0;
}

.search-item {
    padding: var(--spacing-medium);
    border: 1px solid var(--primary-border-color);
    border-radius: var(--border-radius);
    margin-bottom: var(--spacing-small);
    background-color: var(--background-white);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.search-item:hover {
    transform: translateY(-5px);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

.search-item h3 {
    margin: 0 0 10px 0;
}

.search-item h3 a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
}

.search-item h3 a:hover {
    color: var(--primary-color);
}

.search-item p {
    color: var(--text-light-color);
    margin: 0 0 10px 0;
    font-size: 14px;
    line-height: 1.6;
}

.search-item p a {
    color: var(--text-color);
    text-decoration: none;
}

.search-item p a:hover {
    color: var(--primary-color);
}


.search-item .tags {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.search-item .author {
    padding: 4px 8px;
    background-color: var(--button-bg);
    border: 1px solid var(--button-border-color);
    border-radius: var(--border-radius);
    font-size: 12px;
    color: var(--text-light-color);
    margin-bottom: 5px;
}

.search-item .tag {
    padding: 4px 8px;
    background-color: var(--button-bg);
    border: 1px solid var(--button-border-color);
    border-radius: var(--border-radius);
    font-size: 12px;
    color: var(--text-light-color);
}

.no-results {
    text-align: center;
    padding: var(--spacing-medium);
    color: var(--text-light-color);
    font-size: 16px;
}

.highlight {
    background-color: yellow;
    color: #222;
    padding: 0 2px;
    border-radius: 2px;
}

/* 响应式设计 */
@media (max-width: 768px) {
    #search-results h2 {
        font-size: 15px;
    }

    .search-item h3 a {
        font-size: 12px;
    }

    .search-input {
        width: 90%;
    }
    
}