.homePage {
  min-height: 10vh;
  padding: var(--spacing-lg) 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--spacing-md);
}

.postsContainer {
  display: flex;
  gap: var(--spacing-md);
  margin-top: var(--spacing-lg);
}

.loadMoreContainer{
  margin-top: var(--spacing-lg);
  text-align: center;
  padding: var(--spacing-small) var(--spacing-medium);
  border-radius: var(--border-radius);
}

.loadMoreButton {
  background-color: var(--background-color);
  color: var(--text-primary);
  border: 1px solid var(--button-border-color);
  padding: var(--spacing-small) var(--spacing-medium);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color var(--transition-fast),
              color var(--transition-fast),
              transform 0.3s ease,
              box-shadow 0.3s ease;
}

.loadMoreButton:hover {
  transform: translateY(-3px);
  background-color: var(--button-hover-bg);
  color: var(--button-hover-color);
}